# Ignore everything
*

# Allow LaTeX source files
!.tex
!.bib
!.cls
!.sty
!.md
!.cls

# Allow directories
!*/
!.github/
!.gitignore
!.git/

# Allow images (add more extensions as needed)
!*.png
!*.jpg
!*.jpeg
!*.pdf
!*.eps
!*.svg

# Allow the main PDF output (change 'main.pdf' to your filename if needed)
!Main_Document.pdf

# Ignore all auxiliary/build files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.run.xml
*.bcf
*-blx.aux
*-blx.bib
*.maf
*.mtc*
*.mlf
*.slo
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.nav
*.snm
*.vrb
*.xdv
*.dvi
*.ps
*.bak
*.backup
*.sav
*.pyg
*.pytxcode
*.lol
*.ilg
*.ind
*.idx
*.nlo
*.nls
*.soc
*.cut
*.cpt
*.spl
*.ent
*.lox
*.mf
*.mp
*.tfm
*.t[1-9]
*.t[1-9][0-9]
*.sta
*.acn
*.acr
*.glsdefs
*.lzo
*.lzs
*.slg
*.slo
*.sls
*.ist
*-gnuplottex-*
*.table
*.gnuplot
*.gaux
*.glog
*.gtex
*.4ct
*.4tc
*.idv
*.lg
*.trc
*.xref
*.brf
*-concordance.tex
*-tikzDictionary
*.ltjruby
*.loe
*.dpth
*.md5
*.auxlock
*.ptc
*.tdo
*.lod
*.xcp
*.xmpi
*.xdy
*.xyd
*.xyc
*.ttt
*.fff
TSWLatexianTemp*
.texpadtmp
*.lyx~
*.backup
.*.swp
*~[0-9]*
*.tps
./auto/*
*.el
*-tags.tex
*.sta
*.lpz
*.newpax
*.upa
*.upb
_minted*
pythontex-files-*/
svg-inkscape/
sympy-plots-for-*.tex/
latex.out/
node_modules/
__pycache__/
*.pyc

# Allow folders and files in the root
!*/

# End